site_name: express-api-k8s
site_author: cdot65
site_description: Example Express app deployed on k8s
docs_dir: files/docs/
theme:
  name: material
  features:
    - instant
  highlightjs: true
  hljs_languages:
        - yaml
        - javascript
        - python
        - shell
extra_css:
  - stylesheets/calvin.css
copyright: Copyright &copy; 2022 cdot65
repo_name: 'express-api-k8s'
repo_url: https://github.com/cdot65/express-api-k8s
use_directory_urls: true
nav:
  - Homepage: index.md

markdown_extensions:
  - smarty
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - fontawesome_markdown
  - admonition
  - codehilite:
      guess_lang: true
  - toc:
      separator: "-"
      permalink: "#"
      baselevel: 1